<div class="jumbotron">
    <h1>Gabriel Guaitolini</h1>
    <p class="lead">Meus principais projetos e desafios profissionais:</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>UP2DATA (B3)</h2>
        <p>Como parte do projeto UP2DATA da B3, desempenhei um papel fundamental na implementação e desenvolvimento deste serviço de dados. Minha atuação incluiu:</p>
        <ul>
            <li>Colaboração na arquitetura e design do sistema UP2DATA, assim como o banco de dados (SQL Server + MongoDB).</li>
            <li>Desenvolvimento de funcionalidades-chave, incluindo tratamento de arquivos, atualizações em tempo real e personalização de consultas (.NET/C#, Web Socket, SQL Server, MongoDB, ReactJS).</li>
            <li>Integração de interfaces de usuário e experiência do usuário aprimorada (Dashboards feitos em ReactJS).</li>
        </ul>
        <p>Minha contribuição foi fundamental para tornar o UP2DATA um serviço confiável e eficaz para o mercado financeiro. Estou orgulhoso de fazer parte deste projeto de grande importância e impacto no setor.</p>
        <ol>
            <li><strong>Abrangência de Dados:</strong> O UP2DATA fornece uma ampla gama de informações e dados relacionados ao mercado financeiro, incluindo cotações de ações, índices de mercado, dados de operações, informações sobre empresas listadas, informações sobre títulos de renda fixa, entre outros.</li>
            <li><strong>Atualização em Tempo Real:</strong> O serviço oferece dados em tempo real, permitindo que os usuários acessem informações atualizadas sobre os mercados financeiros brasileiros e acompanhem as movimentações do mercado à medida que ocorrem.</li>
            <li><strong>Flexibilidade de Acesso:</strong> O UP2DATA da B3 pode ser acessado por meio de várias interfaces, incluindo terminais de negociação, sistemas de informações de mercado, API (Application Programming Interface) e outros métodos personalizados, de acordo com as necessidades do usuário.</li>
            <li><strong>Uso para Tomada de Decisões:</strong> Investidores, corretoras, bancos e outras instituições financeiras utilizam os dados fornecidos pelo UP2DATA para auxiliar na tomada de decisões de investimento, análise de riscos e monitoramento de carteiras.</li>
            <li><strong>Aplicações Diversas:</strong> Os dados do UP2DATA têm uma ampla variedade de aplicações, desde a análise de desempenho de ações até a comparação de ativos e a geração de relatórios financeiros.</li>
            <li><strong>Customização:</strong> O serviço permite que os usuários personalizem suas consultas e relatórios para atender às suas necessidades específicas de análise de mercado.</li>
        </ol>
        <p><a target="_blank" class="btn btn-default" href="https://www.b3.com.br/pt_br/market-data-e-indices/servicos-de-dados/up2data/sobre-up2data/">Saiba mais &raquo;</a></p>
        <p><a target="_blank" class="btn btn-default" href="https://bvmf.bmfbovespa.com.br/pt-br/CATALOGO-DE-TAXONOMIA-DO-UP2DATA.pdf">Saiba mais (documentação) &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>JBFO</h2>
        <p>Minha carreira na JBFO foi marcada por realizações notáveis, incluindo:</p>
        <ul>
            <li>Manutenção contínua do sistema de controle de patrimônio, garantindo seu funcionamento eficiente, confiável e seguro.</li>
            <li>Criação e implementação de novos módulos para o sistema, abrangendo áreas críticas como ações, patrimônio privado e muito mais.</li>
            <li>Colaboração próxima com as equipes de finanças e gestão de ativos para entender suas necessidades específicas e traduzi-las em soluções tecnológicas eficazes.</li>
            <li>Desenvolvimento de funcionalidades avançadas para melhorar o acompanhamento e a análise do patrimônio da empresa.</li>
            <li>Participação em projetos estratégicos que impulsionaram a eficiência operacional e a tomada de decisões.</li>
        </ul>
        <p>Tive o prazer de trabalhar com uma equipe talentosa e comprometida, utilizando rigorosamente metodologias agéis, buscando constantemente um código sem erros em nosso sistema de controle de patrimônio.</p>
        <p><a target="_blank" class="btn btn-default" href="https://www.juliusbaerfamilyoffice.com/pt/nossas-solucoes/">Saiba mais &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>AbInbev</h2>
        <p>Tenho a honra de compartilhar minha notável jornada profissional na AbInbev, onde assumi um papel estratégico no departamento de Recursos Humanos Global. Durante minha carreira na empresa, concentrei meus esforços na integração do RH global, enfrentando desafios complexos e impactantes, incluindo:</p>
        <ul>
            <li>Desenvolvimento de um sistema abrangente de "profiles" em HTML e PDF para documentar informações e análises de funcionários em todo o mundo.</li>
            <li>Criação de um processo de coleta de feedback, incluindo comentários pessoais e avaliações de superiores, para fornecer uma visão completa e precisa do desempenho e desenvolvimento dos funcionários.</li>
            <li>Implementação de medidas de segurança para proteger informações sensíveis dos funcionários.</li>
        </ul>
        <p>Minha experiência na AbInbev foi repleta de desafios emocionantes e oportunidades para aprimorar a gestão de recursos humanos em uma escala global. Trabalhar com uma equipe talentosa e diversificada permitiu-me adquirir uma compreensão profunda das dinâmicas organizacionais e da importância da gestão de talentos para o sucesso empresarial.</p>
        <p>Estou entusiasmado com as conquistas alcançadas na AbInbev e ansioso para continuar minha jornada profissional, contribuindo para a inovação e excelência em gestão de recursos humanos em organizações globais.</p>
        <p><a target="_blank" class="btn btn-default" href="https://www.ab-inbev.com/">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Ultimus Fund</h2>
        <p>Tenho o orgulho de compartilhar minha enriquecedora experiência profissional na Ultimus Fund, onde desempenhei um papel fundamental na integração de ferramentas e no desenvolvimento contínuo de sistemas essenciais para a gestão de Fund of Funds. Durante minha trajetória na empresa, enfrentei desafios empolgantes e desempenhei diversas funções, incluindo:</p>
        <ul>
            <li>Integração de ferramentas de gestão de investimentos para otimizar a tomada de decisões estratégicas e o monitoramento de carteiras de Fund of Funds.</li>
            <li>Desenvolvimento e manutenção de sistemas personalizados para atender às necessidades específicas da gestão de portfólio e alocação de ativos.</li>
            <li>Colaboração com equipes multifuncionais para garantir a eficiência e eficácia dos sistemas de suporte à gestão de investimentos.</li>
            <li>Implementação de processos de automação para melhorar a precisão e a agilidade na geração de relatórios de desempenho e análises de risco.</li>
            <li>Participação ativa na identificação e implementação de soluções inovadoras para aprimorar a eficiência operacional e a competitividade da Ultimus Fund.</li>
            <li>Trabalho próximo com a equipe de gestão de portfólio e análise de risco para garantir a conformidade regulatória e o alcance das metas de investimento.</li>
        </ul>
        <p>Minha jornada na Ultimus Fund foi marcada por desafios estimulantes e pela oportunidade de contribuir para o sucesso contínuo da empresa no setor de Fund of Funds. Trabalhar em um ambiente dinâmico e colaborativo me permitiu adquirir uma compreensão profunda das complexidades da gestão de investimentos e do papel essencial dos sistemas de suporte nesse contexto.</p>
        <p>Estou entusiasmado com as realizações alcançadas na Ultimus Fund e ansioso para continuar minha trajetória profissional, impulsionando a inovação e a excelência em soluções de investimento.</p>
        <a target="_blank" class="btn btn-default" href="https://www.ultimusfundsolutions.com/our-services/private-funds/">Saiba mais &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="jumbotron">
        <h1>Projetos pessoais</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <h2>Quem Sou Eu?</h2>
        <p>Jogo criado em Unity e C# para jogadores com deficiência auditiva poderem jogar.</p>
        <p>Fiz esse projeto como TCC da minha graduação.</p>
        <ul>
            <li>Feito em Unity utlizando C#.</li>
            <li>Criação de um plugin dentro do Unity para download de .mp3 utilizando a API do google de Text to Speech.</li>
        </ul>
        <a target="_blank" class="btn btn-default" href="https://github.com/fuyangli/quemsoueu">Saiba mais &raquo;</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>OpenTwichPlays</h2>
        <p>OpenTwitchPlays é uma utilidade para criar transmissões ao vivo interativas, nas quais os usuários podem digitar comandos no chat para controlar o jogo ou a aplicação, semelhante ao TwitchPlaysPokemon.</p>
        <p>Fiz um fork desse projeto para melhorar alguns pontos do programa:</p>
        <ul>
            <li>
                Criação de um formato de versionamento aplicando o modelo YY.MM.DD.RR dentro do Assembly para facilitar a identificação da build, sendo YY o ano, MM o mês, DD o dia e RR o número da build no mesmo dia.
                Também adotando o costume de também fazer anotações no Assembly sobre o que foi feito em tal versão. E.g:
                <pre>
                <code>
// Version information for an assembly consists of the following four values:
//
//      YY - Year
//      MM - Month
//      DD - Day
//      RR - Revision of the day
//
// Historic Version
// YY.MM.DD.RR  -   Programmer  -   Alterations
//                                  Multiline Comment
// [assembly: AssemblyVersion("YY.MM.DD.RR")]
[assembly: AssemblyVersion("14.06.19.01")]
[assembly: AssemblyFileVersion("14.06.19.01")]

// Historic Version
// 14.06.19.01  -   Gabriel Guaitolini [Fuyangli]   -   Added Assembly Versioning
                    </code>
                </pre>
            </li>
            <li>Criação de um sistema para que o programa possa ser minimizado para a Tray Icon, permitindo agora o usuário deixar o serviço rodando de forma que não precise ficar com a janela aberta.</li>
        </ul>
        <a target="_blank" class="btn btn-default" href="https://github.com/fuyangli/OpenTwitchPlays">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Vaitomarnotk</h2>
        <p>Criei um serviço para você enviar para aquela pessoa que você está sem paciência</p>
        <ul>
            <li>Projeto feito em NodeJS com Express.</li>
            <li>Utiliza a API do site de GIFS Tenor (tenor.com).</li>
        </ul>
        <p>Utilizei o desenvolvimento desse pequeno projeto para aprender mais NodeJS e chamadas de API</p>
        <a target="_blank" class="btn btn-default" href="https://vaitomarnocu.onrender.com/">Veja o site &raquo;</a></p>
        <a target="_blank" class="btn btn-default" href="https://github.com/fuyangli/vaitomarnotk">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Moment.NET</h2>
        <p>Pacote criado para ser referenciado em projetos .NET. Tentei portar um pouco do plugin MomentJS para o .NET.</p>
        <p>Contém funções uteis para quem trabalha com DateTime:</p>
        <ul>
            <li>Periodos: Extensões para retornar o começo do dia atual, a última hora do dia atual, primeiro dia do mês a partir de uma data referenciada, etc</li>
            <li>Verbose: Extensões para retornar, por exemplo, quantos minutos faltam até tal data e horário</li>
        </ul>
        <a target="_blank" class="btn btn-default" href="https://github.com/fuyangli/momentdotnet">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Wallpaper Time</h2>
        <p>Programa criado em WPF para configurar Wallpapers. Você escolhe qual imagem, o formato desta e utilizando um cron timer, o programa atualiza seu wallpaper automaticamente.</p>
        <a target="_blank" class="btn btn-default" href="https://github.com/fuyangli/Wallpaper-Time">Saiba mais &raquo;</a></p>
    </div>
</div>
